/* INDEX */

  /* Marian Dropdown */
.dropdownButton {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.dropdownButton:hover, .dropodownButton:focus {
  background-color: #2980B9;
}

.marianDropdown {
  position: relative;
  display: inline-block;
}

.marianDropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.marianDropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.marianDropdownContent a:hover {background-color: #ddd;}

.show {display:block;}

  /* Footer */



/* ABOUT-ME */
#profilePicture{
  height: 100px;
  width: 100px;
  border-radius: 25px;
}

/* THE HOLY ROSARY */
#rosaryBanner{
  margin: auto;
}
.howToPrayContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid red;
}

.howToPrayChild{
  margin: auto;
  max-width: 75%;
}