html, body {
  height: 100%;
}
body {
  background-image: radial-gradient(white, lightblue, #43A6C6);
  background-repeat: no-repeat;
  background-size: contain;
}

#reconciliationBanner{
  text-align: center;
  border-bottom: 5px solid black;
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, .3);
}

.reconciliationContainer{
  display: flex;
  flex-direction: column;
}

.reconciliationChild{
  background-color: rgba(255, 255, 255, .3);
  border: 2px solid black;
  border-radius: 25px;
  padding: 0px 10px;
  margin: auto;
  margin-bottom: 10px;
  max-width: 500px;
  text-align: center;
}